body {
    display: flex; 
    justify-content: center;
    min-height: 100vh; 
    background: url('background.jpg') no-repeat;
    background-size: cover; 
    background-position: center;
}

.container {
    text-align: center;
    margin-top: 50px;
}

#yesButton {
    padding: 15px 27px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin: 150px 0;
    background: linear-gradient(to left, #35bfc6, #97eaef);
    color: rgb(0, 0, 0);
    border: 0.5px black solid;
    border-radius: 5px;
}

#noButton {
    padding: 15px 25px;
    position: absolute;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    left: 50%;
    top: calc(50% + 40px);  
    transform: translate(-50%, 100%);
    background: linear-gradient(to left, #35bfc6, #97eaef);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: left 0.5s, top 0.5s;
    border: 0.5px black solid;
    border-radius: 5px;
}

#yesButton:hover {
    filter: brightness(85%);
}

h1 {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 50);
}

p {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 50);
}